@font-face {
    font-family: 'Copperplate-Light';
    src: url('fonts/copperplate-light.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

body {
    font-family: "copperplate-light", sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}

/* Styles for the new menu animation */
.navMenu {
    font-family: "copperplate-light", sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 100%;
    padding-top: 30px;
}


.navMenu a {
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 20px;
    /* Add space between menu links */
    position: relative;
}

.navMenu a:before {
    content: '';
    position: absolute;
    bottom: -5px;
    /* Adjust the distance of the underline from the text */
    left: 0;
    width: 0%;
    height: 2px;
    /* Adjust the thickness of the underline */
    background-color: #ac0505;
    /* Set the color of the underline */
    -webkit-transition: width 0.3s;
    /* Add a transition effect for the underline */
    transition: width 0.3s;
    /* Add a transition effect for the underline */
}

.navMenu a:hover:before {
    width: 100%;
    /* Expand the underline to 100% on hover */
}

.book_h1 {
    padding-top: 50px;
    font-size: 100px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 49px;
    width: 300px;
    height: 450px;
    object-fit: cover;
    transition-duration: 500ms;
}

.card:hover {
    transform: scale(1.1);
}


@media screen and (max-width: 768px) {
    .navMenu a {
        font-size: 0.8em;
        padding-top: 0px;
        width: auto;
        /* Adjust width for mobile */
    }

    .book_h1 {
        font-size: 30px;
        padding-top: 30px;
        /* Adjust font size for mobile */
    }

    .card {
        margin: 20px;
        /* Reduce card margin for mobile */
        width: 150px;
        /* Reduce card width for mobile */
        height: 225px;
        /* Reduce card height for mobile */
    }
}