@font-face {
    font-family: 'Copperplate-Light';
    src: url('fonts/copperplate-light.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "copperplate-light", sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 40px;
}

.logo_insta {
    height: 150px;
    padding-top: 20px;
}

.insta_h2 {
    color: white;
}

.block_contact {
    margin-top: 100px;
    margin-bottom: 100px;


}

.navMenu {
    font-family: "copperplate-light", sans-serif;
    left: 50%;
    position: relative;
    margin-top: 15px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}


.navMenu a {
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 20px; /* Add space between menu links */
    position: relative;
}

.navMenu a:before {
    content: '';
    position: absolute;
    bottom: -5px; /* Adjust the distance of the underline from the text */
    left: 0;
    width: 0%;
    height: 2px; /* Adjust the thickness of the underline */
    background-color: #ac0505; /* Set the color of the underline */
    -webkit-transition: width 0.3s; /* Add a transition effect for the underline */
    transition: width 0.3s; /* Add a transition effect for the underline */
}

.navMenu a:hover:before {
    width: 100%; /* Expand the underline to 100% on hover */
}

.contact_h1 {
    padding-top: 100px;
}

.bar {
    height: 2px;
    width: 400px;
    position: absolute;
    margin-left: 38%;
    margin-right: 38%;

    margin-top: 80px;
    background-color: white;
}

@media screen and (max-width: 768px) {
    .navMenu {
        padding-top: 50px;
        /* Réduire la marge supérieure pour mobile */
    }

    .navMenu a {
        font-size: 0.6em;
        /* Réduire la taille de police pour mobile */
        width: auto;
        /* Ajuster la largeur pour mobile */
    }

    .contact_h1 {
        padding-top: 60px; /* Ajuster la marge supérieure pour mobile */
        font-size: 30px; /* Ajuster la taille de police pour mobile */
    }

    .block_contact {
        margin-top: 50px;
    }

    .bar {
        width: 150px; /* Réduire la largeur de la barre pour mobile */
        top: 100px; /* Ajuster la position verticale de la barre pour mobile */
    }
    .insta_h2 {
        font-size: 40px;
    }

    .p_contact {
        font-size: 35px;
    }
}